body, html, .container {
    background-color: #ADD8E6;
    height: 100%;
}

.content {
	background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border: 0.5px solid #808080;
	box-shadow: 5px 5px 10px #888888;
}

.error {
    color:red;
}

.correct {
    color:green;
}
