@import url("boostrap.min.css");
body, html, .container {
    background-color: lightgrey;
    height: 100%;
}

.content {
	background-color: white;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
}

.error {
    color:red;
}

.correct {
    color:green;
}
